<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>
<%- messages() %>
<p>Confirm Deletion - The delete is permanent.</p>
<form action="/inv/delete/" method="post">
  <fieldset>
  <legend>Delete Inventory</legend>

  <label for="inv_make">Make</label>
  <input type="text" id="inv_make" name="inv_make" value="<%= locals.inv_make %>" readonly>
  
  <label for="inv_model">Model</label>
  <input type="text" id="inv_model" name="inv_model" value="<%= locals.inv_model %>" readonly>
   
  <label for="inv_price">Price</label>
  <input type="number" id="inv_price" name="inv_price" value="<%= locals.inv_price %>" readonly>
  
  <label for="inv_year">Year</label>
  <input type="number" id="inv_year" name="inv_year" value="<%= locals.inv_year %>" readonly>
  
  <button type="submit">Delete Vehicle</button>
  <input type="hidden" name="inv_id" value="<%= inv_id %>">
  </fieldset>
</form>